In [25]:
# Q1. Create one variable containing following type of data:

l = ['Devkar',[1,2,3],6.77,(8,6,2)]

In [26]:
# Q2. Given are some following variables containing data what is data type of given var.


var1 = ' '
print("Data type of var1 : ",type(var1))

var2 = '[ DS , ML , Python]'
print("Data type of var2 : ",type(var2))

var3 = [ 'DS' , 'ML' , 'Python' ]
print("Data type of var3 : ",type(var3))

var4 = 1
print("Data type of var4 : ",type(var4))

Data type of var1 :  <class 'str'>
Data type of var2 :  <class 'str'>
Data type of var3 :  <class 'list'>
Data type of var4 :  <class 'int'>

# Q3. Explain the use of the following operators using an example:
(i) / : Division(float) The quotient returned by this operator is always a             float number, no matter if two numbers are integers. 
        For example: print(10/5) 
        output : 2.0
        
(ii) % : Modulus returns the remainder when the first operand is divided by              the second
         For example: print(10%2)
                      5
                      
(iii) // : Division(floor) The quotient returned by this operator is dependent            on the argument being passed. If any of the numbers is float, it                returns output in float. It is also known as Floor division because,            if any number is negative, then the output will be floored. 
           For example:
           print(10/2) output : 5
           print(-5/2) output : 3
           
(iv) **  : Power: Returns first operand raised to power by value of second                operand
           For Example: print(2**2) = 4

In [27]:
# Q4. Create a list of length 10 of your choice containing multiple types of 
#     data.Using for loop print the element and its data type.

l1 = [1,2,3,4.56,5.98, 5+9j ,'krushna','devkar',45,5.2]

for i in l1:
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4.56 <class 'float'>
5.98 <class 'float'>
(5+9j) <class 'complex'>
krushna <class 'str'>
devkar <class 'str'>
45 <class 'int'>
5.2 <class 'float'>

In [28]:
# Q5. Using a while loop, verify if the number A is purely divisible by 
#     number B and if so then how many times it can be divisible.
A = 50
B = 2
n = A//B
while A>=B:
    A = A%B
    
    if A ==0 :
        print("A is purely divisible by B")
        print("it is divisible for",n,"times")
    else:
        print("A is not purely divisible by B")

A is purely divisible by B
it is divisible for 25 times

In [29]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else
#    condition print if the element is divisible by 3 or not.

l2 = [1,2,3, 66,15,24,55,12,78,8,9,8,54,24,45,147,36,64,69,67,68,50,53,56,27]

for i in l2:
    if i%3 ==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
66 is divisible by 3
15 is divisible by 3
24 is divisible by 3
55 is not divisible by 3
12 is divisible by 3
78 is divisible by 3
8 is not divisible by 3
9 is divisible by 3
8 is not divisible by 3
54 is divisible by 3
24 is divisible by 3
45 is divisible by 3
147 is divisible by 3
36 is divisible by 3
64 is not divisible by 3
69 is divisible by 3
67 is not divisible by 3
68 is not divisible by 3
50 is not divisible by 3
53 is not divisible by 3
56 is not divisible by 3
27 is divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable data types are those having ability to change their data in place 
without affecting the objects identity , mutable object allows you to modify its internal state after creation. In contrast immutable objects don't allow this kind of operation immutable object if you can’t change the object’s state after you’ve created it. 

eg.

In [30]:
# Example of mutable objects
lm = [1,2,3,'krushna','vishal']
lm[3]='Devkar'
lm

[1, 2, 3, 'Devkar', 'vishal']

In [32]:
# Example of immutable objects
str = 'KRUSHNA'
str[1] = 'l'

TypeError: 'str' object does not support item assignment